import(igraph)
import(doParallel)
import(sRACIPE)
import(visNetwork)

export(
  gen_RACIPE,
  gen_heatmap_hca,
  gen_pca_plot,
  modClustHCA,
  modClustKmeans,
  geneClustInd,
  geneClustMedian,
  reordering,
  centMedVarCutDistPerc,
  find_inout,
  difLen,
  delEdges_topNew,
  signChanges_top,
  adjMatCGrProb,
  initialize_topology,
  convAdjTop,
  convTopAdj,
  find_topology,
  find_in_list,
  plot_network,
  gaInitial_gen,
  inNWsimilarityRefCGr,
  inNrepsample_topology,
  opt_combined,
  opt_MH,
  opt_SA
)

